@{
    ViewData["Title"] = "老虎书店欢迎您的光临";
}
<h2>@ViewData["Title"]</h2>

<section class="e7editor" data-id="30" style="line-height: 25.6px; white-space: normal; font-family: 微软雅黑; border: 0px none; box-sizing: border-box;">
    <section style="margin-top: 20px; padding: 5px; border: 1px solid rgb(204, 204, 204); max-width: 100%; color: rgb(62, 62, 62); line-height: 24px; text-align: justify; box-shadow: rgb(165, 165, 165) 5px 5px 2px; box-sizing: border-box; background-color: rgb(250, 250, 250);">
        <p style="margin-left: 20px; text-align: left; width: auto; border: none; box-sizing: border-box; margin-top: 10px; margin-bottom: 10px;">
            <span style="font-family: sans-serif;">
                @ViewData["Message"]
            </span><br>
        </p>
    </section>
</section>

<p style="padding-top:15px">
    <a href="http://weidian.com/?userid=251230088">
        <span style="color: rgb(0, 112, 192); font-family: 楷体; line-height: 28.8px; font-size: 18px;">以逛街模式进入老虎书店</span>
    </a>
    <br />
    <a href="http://weidian.com/search_result.html?userid=251230088">
        <span style="color: rgb(0, 112, 192); font-family: 楷体; line-height: 28.8px; font-size: 18px;">以搜索模式进入老虎书店</span>
    </a>
</p>

<p style="margin-bottom: 5px; line-height: 25.6px; white-space: normal;"><strong><span style="max-width: 100%; font-family: 楷体; line-height: 28.8px; color: rgb(192, 0, 0); box-sizing: border-box !important; word-wrap: break-word !important;">注意事项：</span></strong></p>
<p style="line-height: 25.6px; white-space: normal;"><span style="max-width: 100%; font-family: 楷体; line-height: 28.8px; color: rgb(192, 0, 0); font-size: 14px; box-sizing: border-box !important; word-wrap: break-word !important;">1. 当日<span style="line-height: 28.8px;">早7:00以前下单当日早上安排发货，</span>早7:00以后下单隔日早上安排发货，隔日晚上统一更新运单状态。出版社周日统一休息，所有书籍非特殊注明均为周一到周六早上安排发货。</span></p>
<p style="line-height: 25.6px; white-space: normal;"><span style="max-width: 100%; font-family: 楷体; line-height: 28.8px; color: rgb(192, 0, 0); font-size: 14px; box-sizing: border-box !important; word-wrap: break-word !important;">2. 通过 i.weidian.com 或者短信获得的运单号可以通过 kuaidi100.com 跟踪运单状态，请大家合理做好收货安排。快递发出后视距离远近分别在1-5天内送达，遇到收件问题请先自助联系派件员核实，无法解决请联系客服<span style="line-height: 28.8px;">（微信 TigerStudioAdmin1）。</span></span></p>
<p style="margin-top: 10px; line-height: 25.6px; white-space: normal;"><span style="max-width: 100%; font-family: 楷体; line-height: 28.8px; color: rgb(192, 0, 0); font-size: 14px; box-sizing: border-box !important; word-wrap: break-word !important;">3. 不同出版社的书籍可能会从不同仓库发出，所以单笔订单多套书籍很有可能是多个包裹前后分别送达，请大家合理做好收货安排。微店系统单笔订单只能绑定一个运单号，多包裹其余单号查询请联系客服（微信 TigerStudioAdmin1）。</span></p>
<p style="margin-top: 10px; line-height: 25.6px; white-space: normal;"><span style="line-height: 28.8px; font-family: 楷体; color: rgb(192, 0, 0); font-size: 14px;">4. 收到书籍后若有破损或质量问题请立即联系客服（微信TigerStudioAdmin1），传送清晰照片并陈述具体问题，工作室会尽快安排补发重发事宜。</span></p>
<p style="margin-top: 10px; line-height: 25.6px; white-space: normal;"><span style="line-height: 28.8px; font-family: 楷体; color: rgb(192, 0, 0); font-size: 14px;">5. 书籍一旦发出，非质量问题不接受退货请求。若实在需要退货需自行承担寄回费用，仓库收到退还书籍后安排退款。</span></p>
