@{
    ViewData["Title"] = "老虎社区欢迎您的光临";
}
<h2>@ViewData["Title"]</h2>

<section class="e7editor" data-id="30" style="line-height: 25.6px; white-space: normal; font-family: 微软雅黑; border: 0px none; box-sizing: border-box;">
    <section style="margin-top: 20px; padding: 5px; border: 1px solid rgb(204, 204, 204); max-width: 100%; color: rgb(62, 62, 62); line-height: 24px; text-align: justify; box-shadow: rgb(165, 165, 165) 5px 5px 2px; box-sizing: border-box; background-color: rgb(250, 250, 250);">
        <p style="margin-left: 20px; text-align: left; width: auto; border: none; box-sizing: border-box; margin-top: 10px; margin-bottom: 10px;">
            <span style="font-family: sans-serif;">
                @ViewData["Message"]
            </span><br>
        </p>
    </section>
</section>

<p style="margin-top: 15px;">
    <span style="margin: 0px; padding: 0px; max-width: 100%; color: rgb(0, 112, 192); line-height: 28.7999992370605px; font-family: 楷体; box-sizing: border-box !important; word-wrap: break-word !important; font-size: 18px;">加入社区的方法很简单，选择以下列表中任何一位管理员，长按二维码3秒 → 识别二维码 → 添加为好友。
    </span>
</p>
<p style="margin-top: 0px;">
    <span style="margin: 0px; padding: 0px; max-width: 100%; color: red; line-height: 28.7999992370605px; font-family: 楷体; box-sizing: border-box !important; word-wrap: break-word !important; font-size: 14px;">
        提示：无须重复添加，每位管理员为您提供的是相同的服务。
    </span>
</p>
<p style="margin-top: 0px;">
    <span style="margin: 0px; padding: 0px; max-width: 100%; color: rgb(192, 0, 0); line-height: 28.7999992370605px; font-family: 楷体; box-sizing: border-box !important; word-wrap: break-word !important; font-size: 16px;">
        1. 老虎工作室 - 菲儿
    </span><br />
    <span>
        <img style="width: 200px; height: 200px;" src="~/images/菲儿_small.png" />
    </span>
</p>
<p style="margin-top: 0px;">
    <span style="margin: 0px; padding: 0px; max-width: 100%; color: rgb(192, 0, 0); line-height: 28.7999992370605px; font-family: 楷体; box-sizing: border-box !important; word-wrap: break-word !important; font-size: 16px;">
        2. 老虎工作室 - 蓝妹妹
    </span><br />
    <span>
        <img style="width: 200px; height: 200px;" src="~/images/蓝妹妹_small.png" />
    </span>
</p>
<p style="margin-top: 0px;">
    <span style="margin: 0px; padding: 0px; max-width: 100%; color: rgb(192, 0, 0); line-height: 28.7999992370605px; font-family: 楷体; box-sizing: border-box !important; word-wrap: break-word !important; font-size: 16px;">
        3. 老虎工作室 - 妞妞
    </span><br />
    <span>
        <img style="width: 200px; height: 200px;" src="~/images/妞妞_small.png" />
    </span>
</p>
<p style="margin-top: 0px;">
    <span style="margin: 0px; padding: 0px; max-width: 100%; color: rgb(192, 0, 0); line-height: 28.7999992370605px; font-family: 楷体; box-sizing: border-box !important; word-wrap: break-word !important; font-size: 16px;">
        4. 老虎工作室 - 瑶瑶
    </span><br />
    <span>
        <img style="width: 200px; height: 200px;" src="~/images/瑶瑶_small.png" />
    </span>
</p>
<p style="margin-top: 0px;">
    <span style="margin: 0px; padding: 0px; max-width: 100%; color: rgb(192, 0, 0); line-height: 28.7999992370605px; font-family: 楷体; box-sizing: border-box !important; word-wrap: break-word !important; font-size: 16px;">
        5. 老虎工作室客服
    </span><br />
    <span>
        <img style="width: 200px; height: 200px;" src="~/images/1号管理员_small.png" />
    </span>
</p>