@{
    ViewData["Title"] = "欢迎加入老虎大家庭";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <a href="http://mp.weixin.qq.com/s?__biz=MzA5NTU0MTMzOQ==&mid=206755174&idx=1&sn=95b3aeb756ea59d6ad8ee57de71c2de4#rd">
                <img src="~/images/RadioStation.png" alt="Radio Station" class="img-responsive" />
            </a>
        </div>
        <div class="item">
            <a href="http://mp.weixin.qq.com/s?__biz=MzA5NTU0MTMzOQ==&mid=402850132&idx=3&sn=650731fb7f955a01faa06f407d399467#rd">
                <img src="~/images/EnglishClass.png" alt="English Class" class="img-responsive" />
            </a>
        </div>
        <div class="item">
            <a href="http://mp.weixin.qq.com/s?__biz=MzA5NTU0MTMzOQ==&mid=400666703&idx=1&sn=00eb7e2f40ad9e77a75d84d1c4eba287#rd">
                <img src="~/images/BookStore.png" alt="Book Store" class="img-responsive" />
            </a>

        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>关于我们</h3>
        为这个世界做一件美丽的事情... 本着这个简单的初心，一群有爱的父母走到了一起，开始为孩子们讲故事、为孩子们筛选优质童书、为父母们答疑解惑。老虎电台、老虎社区、老虎书店以及父母课堂陆续应运而生，旨在为孩子们的童年提供一个高质量的陪伴、为父母们的困惑提供一个长期性的指导。
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <h3>老虎电台</h3>
        老虎电台的故事节目发布在包括喜马拉雅、荔枝FM、宝贝听听等各大主流有声平台上面，排名均名列前茅，目前为止已经发布近70个专辑1200个故事节目，内容覆盖从绘本故事到儿童教育的方方面面。点击下面链接查看完整的专辑列表：
        <p style="padding-top:5px"><a asp-controller="Home" asp-action="RadioStation">老虎工作室电台节目完整列表</a></p>
    </div>
    <div class="col-md-3">
        <h3>老虎社区</h3>
        老虎工作室开辟微信群社区通道为爱学习爱分享的家长提供一个沟通交流的平台。社区内大家可以交流育儿心得、分享阅读体会，工作室也会定期为大家通报电台/父母课堂动态以及推荐优质童书。也欢迎大家对我们的工作提出更多建设性的意见。
        <p style="padding-top:5px"><a asp-controller="Home" asp-action="Community" style="line-height: 1.6;">老虎社区欢迎您的光临</a></p>
    </div>
    <div class="col-md-3">
        <h3>老虎书店</h3>
        父母们知道书籍和阅读对于孩子的重要性，却又往往对童书的价格望而生畏。老虎工作室依托于电台几十万粉丝，跟国内外各大出版社合作，帮助大家筛选最最优秀的书籍，同时为大家争取到最最优惠的价格。听故事，读好书，是我们工作室希望能够帮助孩子和家长们一起做到的。
        <p style="padding-top:5px"><a asp-controller="Home" asp-action="BookStore" style="line-height: 1.6;">老虎书店欢迎您的光临</a></p>
    </div>
    <div class="col-md-3">
        <h3>父母课堂</h3>
        在老虎工作室的社区里面妈妈们反复表达着同样的困惑和迷茫，在育儿路上的方方面面诸如情绪管理、习惯培养、阅读方法与实践、英文启蒙等。为此我们特别邀请了各个领域的专家定期为大家带来有针对性的讲座，为大家答疑解惑。下面是几期节目的回顾，供大家参考：
        <p style="padding-top:3px">
            <ul>
                <li><a href="http://mp.weixin.qq.com/s?__biz=MzA5NTU0MTMzOQ==&amp;mid=400477150&amp;idx=1&amp;sn=cd68fb6e9a758ed21c9a6febe5608e34&amp;scene=21#wechat_redirect" target="_blank" data_ue_src="http://mp.weixin.qq.com/s?__biz=MzA5NTU0MTMzOQ==&amp;mid=400477150&amp;idx=1&amp;sn=cd68fb6e9a758ed21c9a6febe5608e34&amp;scene=21#wechat_redirect">如何做好幼儿英文启蒙 | 精彩回顾</a></li>
                <li><a href="http://mp.weixin.qq.com/s?__biz=MzA5NTU0MTMzOQ==&amp;mid=400090591&amp;idx=2&amp;sn=5211e4b85d1b75500a860d4bd90973cf&amp;scene=21#wechat_redirect" target="_blank" data_ue_src="http://mp.weixin.qq.com/s?__biz=MzA5NTU0MTMzOQ==&amp;mid=400090591&amp;idx=2&amp;sn=5211e4b85d1b75500a860d4bd90973cf&amp;scene=21#wechat_redirect">阅读从绘本开始 | 精彩回顾</a></li>
                <li><a href="http://mp.weixin.qq.com/s?__biz=MzA5NTU0MTMzOQ==&amp;mid=215210703&amp;idx=2&amp;sn=c50a4c84b50777ceb671b5df8124c251&amp;scene=21#wechat_redirect" target="_blank" data_ue_src="http://mp.weixin.qq.com/s?__biz=MzA5NTU0MTMzOQ==&amp;mid=215210703&amp;idx=2&amp;sn=c50a4c84b50777ceb671b5df8124c251&amp;scene=21#wechat_redirect">建立正面思维 | 精彩回顾</a></li>
            </ul>
        </p>
    </div>
</div>


