@{
    ViewData["Title"] = "老虎电台欢迎您的光临";
}
<h2>@ViewData["Title"]</h2>

<div class="rich_media_content " id="js_content">
    <fieldset style="line-height: 25.6px; white-space: normal;margin-top: 24px;">
        <section class="tn-Powered-by-XIUMI" style="padding: 10px; max-width: 100%; box-sizing: border-box; border: 2px dotted white; box-shadow: rgb(225, 225, 225) 8px 8px 3px; font-size: 1em; line-height: 1.4; text-align: inherit; text-decoration: inherit; word-wrap: break-word !important; background-color: rgba(84, 222, 194, 0.65098);">
            <p style="max-width: 100%; min-height: 1em; white-space: pre-wrap; box-sizing: border-box !important; word-wrap: break-word !important;"><span style="max-width: 100%; color: rgb(51, 51, 51); font-family: 楷体; box-sizing: border-box !important; word-wrap: break-word !important;">老虎工作室的电台节目发布在</span><span style="max-width: 100%; color: rgb(51, 51, 51); font-family: inherit; box-sizing: border-box !important; word-wrap: break-word !important;">“</span><span style="max-width: 100%; color: rgb(255, 0, 0); font-family: 楷体; box-sizing: border-box !important; word-wrap: break-word !important;"><strong>荔枝FM</strong></span><span style="max-width: 100%; color: rgb(51, 51, 51); font-family: inherit; box-sizing: border-box !important; word-wrap: break-word !important;">”，“</span><span style="max-width: 100%; color: rgb(255, 0, 0); font-family: 楷体; box-sizing: border-box !important; word-wrap: break-word !important;"><strong>喜马拉雅</strong></span><span style="max-width: 100%; color: rgb(51, 51, 51); font-family: inherit; box-sizing: border-box !important; word-wrap: break-word !important;">”，以及“</span><span style="max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;"><span style="max-width: 100%; color: rgb(255, 0, 0); font-family: 楷体;"><strong style="max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;">宝贝听听</strong></span><span style="max-width: 100%; color: rgb(51, 51, 51); font-family: inherit;">”</span></span><span style="max-width: 100%; color: rgb(51, 51, 51); font-family: 楷体; box-sizing: border-box !important; word-wrap: break-word !important;">等多个平台。请下载任意一款</span><span style="max-width: 100%; color: rgb(51, 51, 51); font-family: Constantia, serif; font-size: 14px; box-sizing: border-box !important; word-wrap: break-word !important;">APP</span><span style="max-width: 100%; color: rgb(51, 51, 51); font-family: 楷体; box-sizing: border-box !important; word-wrap: break-word !important;">到手机或平板电脑，搜索</span><span style="max-width: 100%; color: rgb(51, 51, 51); font-family: inherit; box-sizing: border-box !important; word-wrap: break-word !important;">“</span><strong style="max-width: 100%; color: rgb(51, 51, 51); font-family: inherit; box-sizing: border-box !important; word-wrap: break-word !important;"><span style="max-width: 100%; font-family: 楷体; color: rgb(192, 0, 0); text-align: inherit; box-sizing: border-box !important; word-wrap: break-word !important;">宠坏你的耳朵</span></strong><span style="max-width: 100%; color: rgb(51, 51, 51); font-family: inherit; text-align: inherit; box-sizing: border-box !important; word-wrap: break-word !important;">”</span><span style="max-width: 100%; color: rgb(51, 51, 51); font-family: 楷体; box-sizing: border-box !important; word-wrap: break-word !important;">或者</span><span style="max-width: 100%; color: rgb(51, 51, 51); font-family: inherit; box-sizing: border-box !important; word-wrap: break-word !important;">“</span><strong style="max-width: 100%; color: rgb(51, 51, 51); font-family: inherit; box-sizing: border-box !important; word-wrap: break-word !important;"><span style="max-width: 100%; font-family: 楷体; color: rgb(192, 0, 0); text-align: inherit; box-sizing: border-box !important; word-wrap: break-word !important;">老虎工作室</span></strong><span style="max-width: 100%; color: rgb(51, 51, 51); font-family: inherit; text-align: inherit; box-sizing: border-box !important; word-wrap: break-word !important;">”</span><span style="max-width: 100%; color: rgb(51, 51, 51); font-family: 楷体; box-sizing: border-box !important; word-wrap: break-word !important;">订阅收听。</span></p>
        </section>
    </fieldset>
    <p style="margin-top:10px;margin-bottom:10px;line-height:20px">
        <span style="font-family: 楷体">
            以下是我们电台节目的一个完整列表，所有故事按专辑整理分类，独立绘本及故事整理在《经典绘本故事》、《中国经典传统故事》等专辑中。想听哪个故事，点击即可进入。
        </span>
    </p>
    <ul class="list-album" sound_ids="">
        <li class="item" data-url="/14043986/album/3646417">
            <a href="http://www.lizhi.fm/231563/album/26106748801591707">
                <span class="pic default-img fl">

                    <img src="http://fdfs.xmcdn.com/group12/M01/F7/4C/wKgDXFauLQLRu6igAAXjP1Kb3t8638_web_meduim.jpg">

                </span>

                <i class="icon icon-arrow fr"></i>
                <div class="info">
                    <p class="name">欢乐中国年</p>
                    <p class="cont">
                        中国年是“春节”的别称。春节与清明节、端午节、中秋节并称为中国汉族的四大传统节日，并位居四节之首。 中国娃怎能不知道中国年，一起到故事中增长见识吧！
                    </p>
                </div>
            </a>
        </li>

        <li class="item" data-url="/14043986/album/3683789">
            <a href="http://www.lizhi.fm/231563/album/26320397384952091">
                <span class="pic default-img fl">

                    <img src="http://fdfs.xmcdn.com/group16/M02/FE/68/wKgDala58RiQ0Vj4AALZ_9EP6gI283_web_meduim.jpg">

                </span>

                <i class="icon icon-arrow fr"></i>
                <div class="info">
                    <p class="name">韵文大师Audrey Wood作品</p>
                    <p class="cont">
                        奥黛丽•伍德（Audrey Wood ）和唐•伍德（Don Wood）是美国童书界很受欢迎的一对夫妻档。他们搭档合作的作品不仅故事精彩、文字优美，插画风格更是精彩多变、独树一帜！深受广大读者喜爱。
                    </p>
                </div>
            </a>
        </li>

        <li class="item" data-url="/14043986/album/3677401">
            <a href="http://www.lizhi.fm/231563/album/26264170351868571">
                <span class="pic default-img fl">

                    <img src="http://fdfs.xmcdn.com/group13/M08/FD/CD/wKgDXla2qu7DMIuTAASqBhbOg_Q820_web_meduim.png">

                </span>

                <i class="icon icon-arrow fr"></i>
                <div class="info">
                    <p class="name">国学启蒙</p>
                    <p class="cont">
                        让孩子深入了解中华文化,正视优缺,批判性继承中国传统的价值体系与精神。 养性、养正、养志、养德，让中国传统文化内化在孩子生命中，成为其一生处世为人的原则和指导方针。
                    </p>
                </div>
            </a>
        </li>

        <li class="item" data-url="/14043986/album/327278">
            <a href="http://www.ximalaya.com/14043986/album/327278">
                <span class="pic default-img fl">

                    <img src="http://fdfs.xmcdn.com/group6/M06/BC/75/wKgDg1UPv1zAOxXGAAt4wXKEweM953_web_meduim.jpg">

                </span>

                <i class="icon icon-arrow fr"></i>
                <div class="info">
                    <p class="name">经典绘本故事(双语)</p>
                    <p class="cont">
                        各位大朋友们、各位小朋友们，你们好，欢迎来到老虎工作室！ 我们是一群热爱播音、喜欢孩子的爸爸妈妈，或者在不久的将来即将成为爸爸妈妈：)。从我们做父母的那一天起，我们开始思考，什么是我们能给孩子最...
                    </p>
                </div>
            </a>
        </li>

        <li class="item" data-url="/14043986/album/3607553">
            <a href="http://www.lizhi.fm/231563/album/26077452287267995">
                <span class="pic default-img fl">

                    <img src="http://fdfs.xmcdn.com/group9/M01/F0/BE/wKgDZlaklnbBp6i6AAC3B_uCxyg215_web_meduim.jpg">

                </span>

                <i class="icon icon-arrow fr"></i>
                <div class="info">
                    <p class="name">猫咪事务所</p>
                    <p class="cont">
                        《猫咪事务所》为系列童话作品，以男爵猫以及他的猫咪事务所为主线，讲述了发生在奇猫岛上的各种有趣的事。 故事作者本人口述的方式讲述，方便直接呈现主人公的心理活动和个性魅力，语感亲切，兼顾和读者互动...
                    </p>
                </div>
            </a>
        </li>

        <li class="item" data-url="/14043986/album/3258991">
            <a href="http://www.lizhi.fm/231563/album/24502886140829851">
                <span class="pic default-img fl">

                    <img src="http://fdfs.xmcdn.com/group9/M0A/A9/C7/wKgDYlZVQq2RPGv2AADMb_hM1cE468_web_meduim.jpg">

                </span>

                <i class="icon icon-arrow fr"></i>
                <div class="info">
                    <p class="name">东方娃娃绘本故事</p>
                    <p class="cont">
                        自1999年创刊以来，《东方娃娃》编辑部一直坚持以“打开一扇阅读的门，开始一生爱的旅程”的宗旨以及“蹲下来与儿童说话”的姿态，以适合幼儿的图画书理念以及特别贴近幼儿阅读心里的编辑方式，精心打磨刊...
                    </p>
                </div>
            </a>
        </li>

        <li class="item" data-url="/14043986/album/2907166">
            <a href="http://www.lizhi.fm/231563/album/24071034695329307">
                <span class="pic default-img fl">

                    <img src="http://fdfs.xmcdn.com/group13/M05/65/F1/wKgDXVXe5TDSOyZNAADiifQ9XCE795_web_meduim.jpg">

                </span>

                <i class="icon icon-arrow fr"></i>
                <div class="info">
                    <p class="name">I Can Read 汪培珽书单第一阶段</p>
                    <p class="cont">
                        1：OLiver 汪培珽1阶段 [主题：追求] 2：Stanley 汪培珽第一阶段 [主题：勇于改变、爱] 3：Grizzwold 汪培珽第一阶段 [主题：努力、冒险、环保] 4：Sammy t...
                    </p>
                </div>
            </a>
        </li>

        <li class="item" data-url="/14043986/album/3624968">
            <a href="http://www.lizhi.fm/231563/album/26013334329898395">
                <span class="pic default-img fl">

                    <img src="http://fdfs.xmcdn.com/group7/M08/F4/1D/wKgDX1aoVoaz4AP2AAFlRshMQWE125_web_meduim.jpg">

                </span>

                <i class="icon icon-arrow fr"></i>
                <div class="info">
                    <p class="name">四季乐章</p>
                    <p class="cont">
                        在故事中感受四季之美
                    </p>
                </div>
            </a>
        </li>

        <li class="item" data-url="/14043986/album/356921">
            <a href="http://www.lizhi.fm/231563/album/15884714038759067">
                <span class="pic default-img fl">

                    <img src="http://fdfs.xmcdn.com/group6/M01/86/71/wKgDhFUAFnOS_BWPAAK1No2LrAU680_web_meduim.jpg">

                </span>

                <i class="icon icon-arrow fr"></i>
                <div class="info">
                    <p class="name">中国经典传统故事</p>
                    <p class="cont">
                        中国孩子，不能只读安徒生童话、伊索寓言、《天方夜谭》。我们的祖先留下了很多好东西，有寓言，有神话，有代代相传的民间文学，有在少数民族中流传的传奇故事，还有京剧、武术等国粹经典。
                    </p>
                </div>
            </a>
        </li>

        <li class="item" data-url="/14043986/album/3401083">
            <a href="http://www.lizhi.fm/231563/album/25297924847730331">
                <span class="pic default-img fl">

                    <img src="http://fdfs.xmcdn.com/group10/M01/D1/45/wKgDaVZ5ImzCw1S1AAFG0J0aTHA734_web_meduim.jpg">

                </span>

                <i class="icon icon-arrow fr"></i>
                <div class="info">
                    <p class="name">一个孩子的诗园</p>
                    <p class="cont">
                        斯蒂文森的《一个孩子的诗园》是英国儿童文学中家喻户晓的经典作品。他的儿童诗都是从儿童的眼睛去观察世界，用儿童特有的方式去认识世界。这种儿童的心理和情趣本来是每个人都有过的，但绝大多数人长大成人后...
                    </p>
                </div>
            </a>
        </li>

        <li class="item" data-url="/14043986/album/3161664">
            <a href="http://www.lizhi.fm/231563/album/24278870573930523">
                <span class="pic default-img fl">

                    <img src="http://fdfs.xmcdn.com/group13/M0A/96/43/wKgDXVY8cAri2P0mAAEdgolLYQg390_web_meduim.jpg">

                </span>

                <i class="icon icon-arrow fr"></i>
                <div class="info">
                    <p class="name">《Peppa Pig》粉红猪小妹</p>
                    <p class="cont">
                        《Peppa Pig》 动画片2004年在英国的FIVE 和NICK JR.电视台首播后，全球超过120个国家的电视频道也相继播映，荣获全球多项大奖。由于其纯正的英式发音、有趣的情节、可爱的动画...
                    </p>
                </div>
            </a>
        </li>

        <li class="item" data-url="/14043986/album/3497463">
            <a href="http://www.lizhi.fm/231563/album/25463096138131227">
                <span class="pic default-img fl">

                    <img src="http://fdfs.xmcdn.com/group12/M03/DB/BD/wKgDXFaHsfbx44m8AAL66gt1Pro209_web_meduim.jpg">

                </span>

                <i class="icon icon-arrow fr"></i>
                <div class="info">
                    <p class="name">I Can Read (My first reading) Biscuit 饼干狗系列</p>
                    <p class="cont">
                        I Can Read是HarperCollins（哈珀柯林斯）出版社推出的分级读物。自从1957年LittleBear的诞生后，五十多年来ICanRead系列邀请许多获奖作者与插画家合作，创造超...
                    </p>
                </div>
            </a>
        </li>

        <li class="item" data-url="/14043986/album/3551730">
            <a href="http://www.lizhi.fm/231563/album/25946652010738075">
                <span class="pic default-img fl">

                    <img src="http://fdfs.xmcdn.com/group7/M01/E5/4C/wKgDX1aWKX7gSJSRAAEXcxZcl04492_web_meduim.jpg">

                </span>

                <i class="icon icon-arrow fr"></i>
                <div class="info">
                    <p class="name">小时候故事图画书系列</p>
                    <p class="cont">
                        每个人都有小时候，本系列图画书中描绘的关于小时候的故事都发生在北京。 北京自公元1121年建立以来，一直是历代王国的都城或省会。公元1264年为忽必烈帝国的国都，1421年由明朝的永乐皇帝将它建...
                    </p>
                </div>
            </a>
        </li>

        <li class="item" data-url="/14043986/album/3288184">
            <a href="http://www.lizhi.fm/231563/album/24745580779352987">
                <span class="pic default-img fl">

                    <img src="http://fdfs.xmcdn.com/group8/M08/B6/5A/wKgDYVZdiGyhKElyAADdpfGDXYw421_web_meduim.jpg">

                </span>

                <i class="icon icon-arrow fr"></i>
                <div class="info">
                    <p class="name">不一样的卡梅拉第二季</p>
                    <p class="cont">
                        如果您是亲子团体的负责人、或者是学校阅读板块/阅读推广机构的负责人，请与微信honghuoche联系，我们愿意将优质的故事及书籍资源与您分享。 一群特立独行的小鸡，一个个新意迭出的故事，温暖了孩...
                    </p>
                </div>
            </a>
        </li>

        <li class="item" data-url="/14043986/album/3571843">
            <a href="http://www.lizhi.fm/231563/album/25853834280591515">
                <span class="pic default-img fl">

                    <img src="http://fdfs.xmcdn.com/group11/M06/F2/FF/wKgDbVabaxigWFbEAAH8DbgNYO0143_web_meduim.jpg">

                </span>

                <i class="icon icon-arrow fr"></i>
                <div class="info">
                    <p class="name">廖彩杏书单Child’s Play原版儿歌洞洞书第一辑</p>
                    <p class="cont">
                        1. 团购品种：Child's Play 英文启蒙儿歌洞洞书第一辑9本套装+9个原装CD 2. 适合年龄：适合0-9岁 3. 团购价格：9册+9CD，原价：880.00元，工作室团购价236.0...
                    </p>
                </div>
            </a>
        </li>

        <li class="item" data-url="/14043986/album/3228566">
            <a href="http://www.lizhi.fm/231563/album/24411077452341915">
                <span class="pic default-img fl">

                    <img src="http://fdfs.xmcdn.com/group13/M09/A1/5F/wKgDXlZMnC2xobEtAAGwZvuUa6c321_web_meduim.jpg">

                </span>

                <i class="icon icon-arrow fr"></i>
                <div class="info">
                    <p class="name">小学生必读名家</p>
                    <p class="cont">
                        如果您是亲子团体的负责人、或者是学校阅读板块/阅读推广机构的负责人，请与微honghuoche联系，我们愿意将优质的故事及书籍资源与您分享。
                    </p>
                </div>
            </a>
        </li>

        <li class="item" data-url="/14043986/album/3283475">
            <a href="http://www.lizhi.fm/231563/album/25066396856226459">
                <span class="pic default-img fl">

                    <img src="http://fdfs.xmcdn.com/group12/M00/AD/D7/wKgDXFZcMDbBE1j_AACOXJHaiaY105_web_meduim.jpg">

                </span>

                <i class="icon icon-arrow fr"></i>
                <div class="info">
                    <p class="name">汪培珽《喂故事书长大的孩子》</p>
                    <p class="cont">
                        如果您是亲子团体的负责人、或者是学校阅读板块/阅读推广机构的负责人，请与微信honghuoche联系，我们愿意将优质的故事及书籍资源与您分享。 "念故事书给孩子听"，是兼具关爱和教育功能的最佳亲...
                    </p>
                </div>
            </a>
        </li>

        <li class="item" data-url="/14043986/album/3202473">
            <a href="http://www.lizhi.fm/231563/album/24322727291664155">
                <span class="pic default-img fl">

                    <img src="http://fdfs.xmcdn.com/group15/M05/9D/9B/wKgDZVZITb6C7cHWAAQGXBjSDEs875_web_meduim.jpg">

                </span>

                <i class="icon icon-arrow fr"></i>
                <div class="info">
                    <p class="name">廖彩杏书单原版绘本9册</p>
                    <p class="cont">
                        孩子零英文基础，英语怎么开始启蒙？怎样才能让孩子拥有一口纯正流利的英文口音，还能阅读英文绘本呢？一个从未留洋，也自承发音并不道地的廖彩杏，总是十分诚心的告诉家长：“与其花钱去补习班，不如有规律的...
                    </p>
                </div>
            </a>
        </li>

        <li class="item" data-url="/14043986/album/3255420">
            <a href="http://www.lizhi.fm/231563/album/24578590036600987">
                <span class="pic default-img fl">

                    <img src="http://fdfs.xmcdn.com/group12/M04/A8/FD/wKgDW1ZUOWTTggaGAADJpTByWIk615_web_meduim.jpg">

                </span>

                <i class="icon icon-arrow fr"></i>
                <div class="info">
                    <p class="name">故事中国图画书</p>
                    <p class="cont">
                        民间故事和神话传说是我国传统文化宝库中的一粒珍宝，故事源于生活，质地淳朴，饱含鲜明的爱憎，并辅以神奇的想象，反映出劳动人民最本真的情感和积极、乐观的精神，是前人智慧和经验的结晶。这些传统故事借由...
                    </p>
                </div>
            </a>
        </li>

        <li class="item" data-url="/14043986/album/2982802">
            <a href="http://www.lizhi.fm/231563/album/23048107160170395">
                <span class="pic default-img fl">

                    <img src="http://fdfs.xmcdn.com/group15/M09/74/8B/wKgDZVX-oIbyiZmeAABhZv6cgEQ673_web_meduim.jpg">

                </span>

                <i class="icon icon-arrow fr"></i>
                <div class="info">
                    <p class="name">牛津阅读树绘本故事</p>
                    <p class="cont">
                        如果您是亲子团体的负责人、或者是学校阅读板块/阅读推广机构的负责人，请与微信supertigerzou联系，我们愿意将优质的故事及书籍资源与您分享。 牛津阅读树在英国是家喻户晓的英语母语学习材料...
                    </p>
                </div>
            </a>
        </li>

        <frameelement>

            <li class="item" data-url="/14043986/album/3269880">
                <a href="http://www.lizhi.fm/231563/album/24781035202334363">
                    <span class="pic default-img fl">

                        <img src="http://fdfs.xmcdn.com/group16/M09/AB/E1/wKgDalZYO3TBt5ziAAKOVnu3tTY087_web_meduim.jpg">

                    </span>

                    <i class="icon icon-arrow fr"></i>
                    <div class="info">
                        <p class="name">我的第一套百年经典听读书</p>
                        <p class="cont">
                            亲子阅读的重要性不言而喻，但听读的重要性很多家长并没有意识到。所谓听读就是让孩子脱离书本单纯听大人讲故事，可以是听家长读也可以是听老虎电台讲的这种故事。听读时由于孩子完全脱离了书本上的图像和字等...
                        </p>
                    </div>
                </a>
            </li>

            <li class="item" data-url="/14043986/album/3476175">
                <a href="http://www.lizhi.fm/231563/album/25344371431414683">
                    <span class="pic default-img fl">

                        <img src="http://fdfs.xmcdn.com/group8/M03/D7/F0/wKgDYFaBHCTjtfw1AAFUopvmpoA568_web_meduim.png">

                    </span>

                    <i class="icon icon-arrow fr"></i>
                    <div class="info">
                        <p class="name">中国三大史诗▪江格尔</p>
                        <p class="cont">
                            如果您是亲子团体的负责人、或者是学校阅读板块/阅读推广机构的负责人，请与微信honghuoche联系，我们愿意将优质的故事及书籍资源与您分享。 中国三大史诗▪江格尔是咱们国家的宝藏之一，是传唱千...
                        </p>
                    </div>
                </a>
            </li>

            <li class="item" data-url="/14043986/album/3385484">
                <a href="http://www.ximalaya.com/14043986/album/3385484">
                    <span class="pic default-img fl">

                        <img src="http://fdfs.xmcdn.com/group8/M02/CF/6F/wKgDYFZ0552TftyxAASdziwwKLE703_web_meduim.jpg">

                    </span>

                    <i class="icon icon-arrow fr"></i>
                    <div class="info">
                        <p class="name">Dr.Seuss 苏斯博士第一阶段12本</p>
                        <p class="cont">
                            苏斯博士，可以说是二十世纪最受欢迎的儿童图画书作家，在英语世界里，是家喻户晓的人物。他创作的图画书，人物形象鲜明，个性突出，情节夸张荒诞，语言妙趣横生，是半个多世纪以来孩子们的至爱，同时他的书也...
                        </p>
                    </div>
                </a>
            </li>

            <li class="item" data-url="/14043986/album/3087648">
                <a href="http://www.lizhi.fm/231563/album/23930074670682907">
                    <span class="pic default-img fl">

                        <img src="http://fdfs.xmcdn.com/group10/M01/88/48/wKgDaVYmCO6TNF0vAAVqmX7FJDQ786_web_meduim.png">

                    </span>

                    <i class="icon icon-arrow fr"></i>
                    <div class="info">
                        <p class="name">我的第一套英文启蒙书</p>
                        <p class="cont">
                            绘本届可谓德高望重的卡爷爷的书怎能错过？他的书可真是本本都是精品啊，而且大多数都是以英文启蒙为初衷的，特别讲究韵律感，读起来朗朗上口啊，而他的有些书，翻译成中文书，就不再押韵了，不如原版书来的原...
                        </p>
                    </div>
                </a>
            </li>

            <li class="item" data-url="/14043986/album/3405688">
                <a href="http://www.lizhi.fm/231563/album/16721232738286235">
                    <span class="pic default-img fl">

                        <img src="http://fdfs.xmcdn.com/group12/M04/D3/9F/wKgDXFZ6b8CDggZlAAT9QPL6j3M077_web_meduim.jpg">

                    </span>

                    <i class="icon icon-arrow fr"></i>
                    <div class="info">
                        <p class="name">圣诞故事嘉年华</p>
                        <p class="cont">
                            圣诞节（Christmas）又称耶诞节，译名为“基督弥撒”，西方传统节日，在每年12月25日。弥撒是教会的一种礼拜仪式。圣诞节是一个宗教节，因为把它当作耶稣的诞辰来庆祝，故名“耶诞节”。 大部分...
                        </p>
                    </div>
                </a>
            </li>

            <li class="item" data-url="/14043986/album/2941399">
                <a href="http://www.lizhi.fm/231563/album/22862524844927259">
                    <span class="pic default-img fl">

                        <img src="http://fdfs.xmcdn.com/group7/M04/6C/C1/wKgDWlXtXwuDfgi1AACiSNbKEv0956_web_meduim.jpg">

                    </span>

                    <i class="icon icon-arrow fr"></i>
                    <div class="info">
                        <p class="name">晴天有时下猪系列</p>
                        <p class="cont">
                            如果您是亲子团体的负责人、或者是学校阅读板块/阅读推广机构的负责人，请与微信supertigerzou联系，我们愿意将优质的故事及书籍资源与您分享。 三年级学生畠山则安因为妈妈偷看了他的日记很恼...
                        </p>
                    </div>
                </a>
            </li>

            <li class="item" data-url="/14043986/album/3396684">
                <a href="http://www.ximalaya.com/14043986/album/3396684">
                    <span class="pic default-img fl">

                        <img src="http://fdfs.xmcdn.com/group9/M06/D1/D7/wKgDYlZ35EOzj6f_AAHqtknLwVA837_web_meduim.jpg">

                    </span>

                    <i class="icon icon-arrow fr"></i>
                    <div class="info">
                        <p class="name">《An Elephant and Piggie Book》小猪小象系列</p>
                        <p class="cont">
                            《小象和小猪》系列主角是戴着小眼镜、聪明谨慎的小象和活泼可爱、粗心大意的小猪，小猪总是乐呵呵的，小象却老是不太高兴。他们是最好的朋友，小猪总是能给小象带来快乐，不过正因为有了小象的操心，小猪才能...
                        </p>
                    </div>
                </a>
            </li>

            <li class="item" data-url="/14043986/album/2807703">
                <a href="http://www.lizhi.fm/231563/album/22143014207243547">
                    <span class="pic default-img fl">

                        <img src="http://fdfs.xmcdn.com/group13/M05/4E/48/wKgDXlWyK0DjkEVuAAC65S5tRzc312_web_meduim.jpg">

                    </span>

                    <i class="icon icon-arrow fr"></i>
                    <div class="info">
                        <p class="name">皮皮鲁的故事</p>
                        <p class="cont">
                            欢迎联系微信社区管理员supertigerzou参与故事点播、育儿分享以及低价购买优质正版书籍。    皮皮鲁是郑渊洁童话中最酷的男一号。《皮皮鲁总动员》是“童话大王”郑渊洁近千万字作品中皮皮鲁...
                        </p>
                    </div>
                </a>
            </li>

            <li class="item" data-url="/14043986/album/3060272">
                <a href="http://www.lizhi.fm/231563/album/23558067150638747">
                    <span class="pic default-img fl">

                        <img src="http://fdfs.xmcdn.com/group8/M05/84/09/wKgDYVYc1KSyuYZHAAB3i1siy9I115_web_meduim.jpg">

                    </span>

                    <i class="icon icon-arrow fr"></i>
                    <div class="info">
                        <p class="name">小纽扣吉姆系列</p>
                        <p class="cont">
                            如果您是亲子团体的负责人、或者是学校阅读板块/阅读推广机构的负责人，请与微信supertigerzou联系，我们愿意将优质的故事及书籍资源与您分享。 故事发生在一个只有四位居民的卢默尔国小岛。这...
                        </p>
                    </div>
                </a>
            </li>

            <li class="item" data-url="/14043986/album/3325780">
                <a href="http://www.ximalaya.com/14043986/album/3325780">
                    <span class="pic default-img fl">

                        <img src="http://fdfs.xmcdn.com/group7/M05/C7/C8/wKgDWlZn9dXjpSc-AAIz2D_-MrI085_web_meduim.jpg">

                    </span>

                    <i class="icon icon-arrow fr"></i>
                    <div class="info">
                        <p class="name">神奇少年团</p>
                        <p class="cont">
                            停不下来的冒险与探索，永无止境的发明与拯救，《神奇少年团》系列就是这样一套将探索与勇气、智慧与发明完美演绎的少儿科幻冒险小说，每一册书都有一个神秘离奇的故事，每一个故事都是一次勇敢无畏的冒险，每...
                        </p>
                    </div>
                </a>
            </li>

            <li class="item" data-url="/14043986/album/357512">
                <a href="http://www.lizhi.fm/231563/album/18850561560004251">
                    <span class="pic default-img fl">

                        <img src="http://fdfs.xmcdn.com/group6/M06/8A/14/wKgDhFUBSayB2cGpAAMsJozl-DE827_web_meduim.jpg">

                    </span>

                    <i class="icon icon-arrow fr"></i>
                    <div class="info">
                        <p class="name">米小圈上学记</p>
                        <p class="cont">
                            《米小圈上学记》是专门为低年级小学生量身打造的读物，如果你是一个小孩子，当你翻开这部日记时，马上就会被里面好玩的情节，搞笑的插画所深深吸引，逗得前仰后合。原来日记可以写得这么好玩?说不定你也会拿...
                        </p>
                    </div>
                </a>
            </li>

            <li class="item" data-url="/14043986/album/3276515">
                <a href="http://www.ximalaya.com/14043986/album/3276515">
                    <span class="pic default-img fl">

                        <img src="http://fdfs.xmcdn.com/group10/M0B/A7/AE/wKgDZ1ZaT3qDCkQuAAM4_XMl2h8286_web_meduim.jpg">

                    </span>

                    <i class="icon icon-arrow fr"></i>
                    <div class="info">
                        <p class="name">廖彩杏原版儿歌洞洞书第二辑</p>
                        <p class="cont">
                            1. 团购品种：Child's Play 英文启蒙儿歌洞洞书第二辑9本套装+9个原装CD 2. 适合年龄：适合0-7岁 3. 团购价格：9册+9CD，原价：880.00元，工作室团购价236.0...
                        </p>
                    </div>
                </a>
            </li>

            <li class="item" data-url="/14043986/album/3111042">
                <a href="http://www.lizhi.fm/231563/album/23837299348883099">
                    <span class="pic default-img fl">

                        <img src="http://fdfs.xmcdn.com/group14/M08/8C/D7/wKgDY1Yss2Cygmw0AACvWC6IbKE579_web_meduim.jpg">

                    </span>

                    <i class="icon icon-arrow fr"></i>
                    <div class="info">
                        <p class="name">贝贝熊系列丛书·第4辑</p>
                        <p class="cont">
                            如果您是亲子团体的负责人、或者是学校阅读板块/阅读推广机构的负责人，请与微信supertigerzou联系，我们愿意将优质的故事及书籍资源与您分享。 《贝贝熊系列丛书》（第四辑），行为教育合辑的...
                        </p>
                    </div>
                </a>
            </li>

            <li class="item" data-url="/14043986/album/2931938">
                <a href="http://www.lizhi.fm/231563/album/22768875498707867">
                    <span class="pic default-img fl">

                        <img src="http://fdfs.xmcdn.com/group7/M0B/6A/DE/wKgDX1XpZTDzr14GAADRquYfybc240_web_meduim.jpg">

                    </span>

                    <i class="icon icon-arrow fr"></i>
                    <div class="info">
                        <p class="name">跟着Helen学英语</p>
                        <p class="cont">
                            如果您是亲子团体的负责人、或者是学校阅读板块/阅读推广机构的负责人，请与微信supertigerzou联系，我们愿意将优质的故事及书籍资源与您分享。 本教材的内容涉及用餐宴请、居家交流、职场办公...
                        </p>
                    </div>
                </a>
            </li>

            <li class="item" data-url="/14043986/album/364150">
                <a href="http://www.lizhi.fm/231563/album/18688246763832987">
                    <span class="pic default-img fl">

                        <img src="http://fdfs.xmcdn.com/group6/M03/BB/BB/wKgDg1UPkSuS5Iy6AAA80Q06ug8353_web_meduim.png">

                    </span>

                    <i class="icon icon-arrow fr"></i>
                    <div class="info">
                        <p class="name">Easy English</p>
                        <p class="cont">
                            如何让孩子快乐轻松的学习英语是很多家长关心的问题，本专辑盘点适合孩子看的英语读物，教孩子唱英语儿歌，还有让孩子看图学故事的同时，了解成语，一举两得，家长可以在与孩子一起学习的过程中，共同成长进步...
                        </p>
                    </div>
                </a>
            </li>

            <li class="item" data-url="/14043986/album/2815036">
                <a href="http://www.lizhi.fm/231563/album/15877072217137947">
                    <span class="pic default-img fl">

                        <img src="http://fdfs.xmcdn.com/group11/M03/52/5C/wKgDbVW2AeyAUNuHAAEmXwvIHmo100_web_meduim.jpg">

                    </span>

                    <i class="icon icon-arrow fr"></i>
                    <div class="info">
                        <p class="name">成长请带上这封信</p>
                        <p class="cont">
                            面对大众，他们是镁光灯的焦点；  面对孩子，他们是最平凡的父母。  他们用世间最珍贵最绵软的爱写就的一封封家书，不仅是送给下一代的脉脉叮咛，更是一颗颗坦荡炽热的心走过遥遥岁月的回响。  他们甘愿...
                        </p>
                    </div>
                </a>
            </li>

            <li class="item" data-url="/14043986/album/3176025">
                <a href="http://www.lizhi.fm/231563/album/24370980984052891">
                    <span class="pic default-img fl">

                        <img src="http://fdfs.xmcdn.com/group11/M08/8B/FD/wKgDa1ZAcq_wLUqvAAEwPQaFEXs580_web_meduim.jpg">

                    </span>

                    <i class="icon icon-arrow fr"></i>
                    <div class="info">
                        <p class="name">古灵精怪米拉拉</p>
                        <p class="cont">
                            如果您是亲子团体的负责人、或者是学校阅读板块/阅读推广机构的负责人，请与微信honghuoche联系，我们愿意将优质的故事及书籍资源与您分享。 米拉拉是个最最真实的小姑娘。她胆子大，她信魔法。 ...
                        </p>
                    </div>
                </a>
            </li>

            <li class="item" data-url="/14043986/album/2950089">
                <a href="http://www.lizhi.fm/231563/album/22791997454968731">
                    <span class="pic default-img fl">

                        <img src="http://fdfs.xmcdn.com/group15/M07/6E/59/wKgDZVXxUc7gGby-AADW_5lfc-Q980_web_meduim.jpg">

                    </span>

                    <i class="icon icon-arrow fr"></i>
                    <div class="info">
                        <p class="name">贝贝熊系列丛书·第2辑</p>
                        <p class="cont">
                            如果您是亲子团体的负责人、或者是学校阅读板块/阅读推广机构的负责人，请与微信supertigerzou联系，我们愿意将优质的故事及书籍资源与您分享。 “贝贝熊系列丛书”是由世界著名品牌美国兰登书...
                        </p>
                    </div>
                </a>
            </li>

            <li class="item" data-url="/14043986/album/3027291">
                <a href="http://www.lizhi.fm/231563/album/23720379065402395">
                    <span class="pic default-img fl">

                        <img src="http://fdfs.xmcdn.com/group16/M02/7D/A9/wKgDalYQ99OQ3PpaAAB6QNTvKQY263_web_meduim.jpg">

                    </span>

                    <i class="icon icon-arrow fr"></i>
                    <div class="info">
                        <p class="name">父母课堂</p>
                        <p class="cont">
                            真正的教育是生命影响生命。没有自我成长，只是功利地去学育儿“术”，父母受自身格局和眼界的限制，加上得失心，更容易放大孩子的问题，增加自己的茫然和焦虑。重要的是父母要有对自己生命意义的体验感悟和生...
                        </p>
                    </div>
                </a>
            </li>

            <li class="item" data-url="/14043986/album/2935210">
                <a href="http://www.ximalaya.com/14043986/album/2935210">
                    <span class="pic default-img fl">

                        <img src="http://fdfs.xmcdn.com/group16/M09/6B/4C/wKgDbFXqsSvQXbDnAADnsj0GRpI672_web_meduim.jpg">

                    </span>

                    <i class="icon icon-arrow fr"></i>
                    <div class="info">
                        <p class="name">听笑话，赢奖品</p>
                        <p class="cont">
                            如果您是亲子团体的负责人、或者是学校阅读板块/阅读推广机构的负责人，请与微信supertigerzou联系，我们愿意将优质的故事及书籍资源与您分享。 请发送节目中的问题答案至微信supertig...
                        </p>
                    </div>
                </a>
            </li>
        </frameelement>
        <frameelement>

            <li class="item" data-url="/14043986/album/3082906">
                <a href="http://www.ximalaya.com/14043986/album/3082906">
                    <span class="pic default-img fl">

                        <img src="http://fdfs.xmcdn.com/group11/M06/7B/2B/wKgDa1YkvluBSYAsAABLmLp7fls046_web_meduim.jpg">

                    </span>

                    <i class="icon icon-arrow fr"></i>
                    <div class="info">
                        <p class="name">小魔法大花园</p>
                        <p class="cont">
                            如果您是亲子团体的负责人、或者是学校阅读板块/阅读推广机构的负责人，请与微信supertigerzou联系，我们愿意将优质的故事及书籍资源与您分享。 《佩尔的新衣》佩尔做榜样，让孩子懂得自己的事...
                        </p>
                    </div>
                </a>
            </li>

            <li class="item" data-url="/14043986/album/3042475">
                <a href="http://www.lizhi.fm/231563/album/23606671689898523">
                    <span class="pic default-img fl">

                        <img src="http://fdfs.xmcdn.com/group14/M02/80/31/wKgDZFYWUOuAjs-8AAJiDe54qP8889_web_meduim.jpg">

                    </span>

                    <i class="icon icon-arrow fr"></i>
                    <div class="info">
                        <p class="name">国粹戏剧系列图画书</p>
                        <p class="cont">
                            如果您是亲子团体的负责人、或者是学校阅读板块/阅读推广机构的负责人，请与微信supertigerzou联系，我们愿意将优质的故事及书籍资源与您分享。 中国传统戏剧是东方文明的奇葩，是“国粹”之中...
                        </p>
                    </div>
                </a>
            </li>

            <li class="item" data-url="/14043986/album/2830455">
                <a href="http://www.lizhi.fm/231563/album/22028299119307931">
                    <span class="pic default-img fl">

                        <img src="http://fdfs.xmcdn.com/group11/M04/57/77/wKgDbVW957DwcdEEAABKS8sR1uc862_web_meduim.jpg">

                    </span>

                    <i class="icon icon-arrow fr"></i>
                    <div class="info">
                        <p class="name">大象巴巴故事全集</p>
                        <p class="cont">
                            欢迎联系微信社区管理员supertigerzou参与故事点播、育儿分享以及低价购买优质正版书籍。     巴巴是一头聪明的小象，生活在美丽的大森林里。有一天，他的妈妈被可恶的猎人打死了，巴巴只好...
                        </p>
                    </div>
                </a>
            </li>

            <li class="item" data-url="/14043986/album/3014461">
                <a href="http://www.lizhi.fm/231563/album/23257299986795419">
                    <span class="pic default-img fl">

                        <img src="http://fdfs.xmcdn.com/group9/M08/7A/BA/wKgDYlYLugryeLUMAACX5wGOOnE766_web_meduim.jpg">

                    </span>

                    <i class="icon icon-arrow fr"></i>
                    <div class="info">
                        <p class="name">孩子最爱读的故事书</p>
                        <p class="cont">
                            如果您是亲子团体的负责人、或者是学校阅读板块/阅读推广机构的负责人，请与微信supertigerzou联系，我们愿意将优质的故事及书籍资源与您分享。 本书精选了汉族、蒙古族、藏族等十余个民族脍炙...
                        </p>
                    </div>
                </a>
            </li>

            <li class="item" data-url="/14043986/album/2817926">
                <a href="http://www.lizhi.fm/231563/album/17177096541802139">
                    <span class="pic default-img fl">

                        <img src="http://fdfs.xmcdn.com/group12/M08/52/C7/wKgDXFW3cXrxaUkbAABli1s4S-Q533_web_meduim.jpg">

                    </span>

                    <i class="icon icon-arrow fr"></i>
                    <div class="info">
                        <p class="name">中国神话故事</p>
                        <p class="cont">
                            欢迎联系微信社区管理员supertigerzou参与故事点播、育儿分享以及低价购买优质正版书籍。     也许，大家从长辈的口中，曾经听到过一些中国的神话故事，这些美丽的神话故事，是我们伟大的古...
                        </p>
                    </div>
                </a>
            </li>

            <li class="item" data-url="/14043986/album/364128">
                <a href="http://www.lizhi.fm/231563/album/23135148168102171">
                    <span class="pic default-img fl">

                        <img src="http://fdfs.xmcdn.com/group6/M03/B7/A2/wKgDhFUPhwGQnKJdAAC9hewAfMk718_web_meduim.jpg">

                    </span>

                    <i class="icon icon-arrow fr"></i>
                    <div class="info">
                        <p class="name">中国记忆·传统节日</p>
                        <p class="cont">
                            本套丛书选取中国传统文化中颇具特色的元素，以中国传统节日为主题，以一本图画书一个主题的形式展开，以故事为主线，中间穿插中国传统故事、神话、诗词与谚语等叙述与解说节日的来历，刻画节日的形象，并以...
                        </p>
                    </div>
                </a>
            </li>

            <li class="item" data-url="/14043986/album/2781200">
                <a href="http://www.lizhi.fm/231563/album/21633686114867611">
                    <span class="pic default-img fl">

                        <img src="http://fdfs.xmcdn.com/group8/M04/44/BC/wKgDYFWmTZ3ibk7_AADq1qjxx2o148_web_meduim.jpg">

                    </span>

                    <i class="icon icon-arrow fr"></i>
                    <div class="info">
                        <p class="name">蓝精灵</p>
                        <p class="cont">
                            欢迎联系微信社区管理员supertigerzou参与故事点播、育儿分享以及低价购买优质正版书籍。     一群蓝色的、三个苹果高的小精灵在大森林里快乐地生活。巫师格格巫是他们最大的敌人，他总想抓...
                        </p>
                    </div>
                </a>
            </li>

            <li class="item" data-url="/14043986/album/2935270">
                <a href="http://www.lizhi.fm/231563/album/24070776456271643">
                    <span class="pic default-img fl">

                        <img src="http://fdfs.xmcdn.com/group16/M00/6B/43/wKgDalXqtuzyT56oAAB3IQo7Sb8805_web_meduim.jpg">

                    </span>

                    <i class="icon icon-arrow fr"></i>
                    <div class="info">
                        <p class="name">西顿动物故事小百科</p>
                        <p class="cont">
                            如果您是亲子团体的负责人、或者是学校阅读板块/阅读推广机构的负责人，请与微信supertigerzou联系，我们愿意将优质的故事及书籍资源与您分享。 西顿动物故事小百科全套共五册，收录西顿最经典...
                        </p>
                    </div>
                </a>
            </li>

            <li class="item" data-url="/14043986/album/2919612">
                <a href="http://www.lizhi.fm/231563/album/22651109642382875">
                    <span class="pic default-img fl">

                        <img src="http://fdfs.xmcdn.com/group12/M03/67/8B/wKgDXFXkMT7T7FzTAADUdfA3YQM413_web_meduim.jpg">

                    </span>

                    <i class="icon icon-arrow fr"></i>
                    <div class="info">
                        <p class="name">中国四大名著绘本▪三国演义</p>
                        <p class="cont">
                            如果您是亲子团体的负责人、或者是学校阅读板块/阅读推广机构的负责人，请与微信supertigerzou联系，我们愿意将优质的故事及书籍资源与您分享。     人，无论干什么都是需要智慧的，干大事...
                        </p>
                    </div>
                </a>
            </li>

            <li class="item" data-url="/14043986/album/2910357">
                <a href="http://www.lizhi.fm/231563/album/22539129108394011">
                    <span class="pic default-img fl">

                        <img src="http://fdfs.xmcdn.com/group7/M04/66/B6/wKgDX1XgNTzQO31cAADPiSl9Olk034_web_meduim.jpg">

                    </span>

                    <i class="icon icon-arrow fr"></i>
                    <div class="info">
                        <p class="name">中国四大名著绘本▪西游记</p>
                        <p class="cont">
                            如果您是亲子团体的负责人、或者是学校阅读板块/阅读推广机构的负责人，请与微信supertigerzou联系，我们愿意将优质的故事及书籍资源与您分享。     从石头缝里蹦出来的孙悟空，在花果山号...
                        </p>
                    </div>
                </a>
            </li>

            <li class="item" data-url="/14043986/album/380746">
                <a href="http://www.lizhi.fm/231563/album/16045600291297307">
                    <span class="pic default-img fl">

                        <img src="http://fdfs.xmcdn.com/group6/M00/1E/68/wKgDhFUry1XT2hv-AB4eIT3dehE217_web_meduim.png">

                    </span>

                    <i class="icon icon-arrow fr"></i>
                    <div class="info">
                        <p class="name">不一样的卡梅拉第一季</p>
                        <p class="cont">
                            一群特立独行的小鸡，一个个新意迭出的故事，温暖了孩子们的童年，陪伴了孩子们的成长，点亮了孩子们的梦想……我们可以把卡梅拉当作一种象征，一种成长路上必不可少的“伴侣”。
                        </p>
                    </div>
                </a>
            </li>

            <li class="item" data-url="/14043986/album/2836302">
                <a href="http://www.lizhi.fm/231563/album/22510990092958747">
                    <span class="pic default-img fl">

                        <img src="http://fdfs.xmcdn.com/group11/M0A/5A/0E/wKgDbVXAnKqCnyAFAACVAXBjGkA808_web_meduim.jpg">

                    </span>

                    <i class="icon icon-arrow fr"></i>
                    <div class="info">
                        <p class="name">电话里的童话</p>
                        <p class="cont">
                            如果您是亲子团体的负责人、或者是学校阅读板块/阅读推广机构的负责人，请与微信supertigerzou联系，我们愿意将优质的故事及书籍资源与您分享。    白先生是一位药品推销员，常年出差在外，...
                        </p>
                    </div>
                </a>
            </li>

            <li class="item" data-url="/14043986/album/2702176">
                <a href="http://www.lizhi.fm/231563/album/20845480453346203">
                    <span class="pic default-img fl">

                        <img src="http://fdfs.xmcdn.com/group11/M06/26/00/wKgDbVWBcDHgWYnJAAEiiso-6BM417_web_meduim.jpg">

                    </span>

                    <i class="icon icon-arrow fr"></i>
                    <div class="info">
                        <p class="name">大师情绪管理绘本</p>
                        <p class="cont">
                            欢迎联系微信社区管理员supertigerzou参与故事点播、育儿分享以及低价购买优质正版书籍。     在这套书里，有六个恐龙小宝贝：格蕾西、苏菲、安娜、塞缪尔、威廉、贾马尔。它们有着各自不同...
                        </p>
                    </div>
                </a>
            </li>

            <li class="item" data-url="/14043986/album/2848299">
                <a href="http://www.lizhi.fm/231563/album/22351410046783387">
                    <span class="pic default-img fl">

                        <img src="http://fdfs.xmcdn.com/group12/M0A/59/82/wKgDW1XF2faCLueuAAP8g3Jn5nU150_web_meduim.png">

                    </span>

                    <i class="icon icon-arrow fr"></i>
                    <div class="info">
                        <p class="name">百年经典美绘本▪玛德琳系列</p>
                        <p class="cont">
                            巴黎有座老房子，常青藤爬满墙，里面住着十二个女孩子。早上九点半，无论天气好与坏，女孩们总...
                        </p>
                    </div>
                </a>
            </li>

            <li class="item" data-url="/14043986/album/2732990">
                <a href="http://www.ximalaya.com/14043986/album/2732990">
                    <span class="pic default-img fl">

                        <img src="http://fdfs.xmcdn.com/group13/M0B/31/12/wKgDXlWPpmOD_SGcAAPLcU0beXg218_web_meduim.png">

                    </span>

                    <i class="icon icon-arrow fr"></i>
                    <div class="info">
                        <p class="name">咿咿呀呀绘本馆▪第一辑</p>
                        <p class="cont">
                            欢迎联系微信社区管理员supertigerzou参与故事点播、育儿分享以及低价购买优质正版书籍。     随着孩子慢慢长大，安全问题、好习惯、好品德的养成也会伴随父母的心慢慢滋长，刚刚有一些独立...
                        </p>
                    </div>
                </a>
            </li>

            <li class="item" data-url="/14043986/album/2744799">
                <a href="http://www.ximalaya.com/14043986/album/2744799">
                    <span class="pic default-img fl">

                        <img src="http://fdfs.xmcdn.com/group9/M06/35/5B/wKgDYlWVFnKDlOmrAAB6MaycHlU227_web_meduim.jpg">

                    </span>

                    <i class="icon icon-arrow fr"></i>
                    <div class="info">
                        <p class="name">中国儿童文学百年经典原创绘本</p>
                        <p class="cont">
                            欢迎联系微信社区管理员supertigerzou参与故事点播、育儿分享以及低价购买优质正版书籍。     《中国儿童文学百年经典原创绘本·花儿卷+草儿卷》收录了中国近百年来众多知名儿童文学名家（...
                        </p>
                    </div>
                </a>
            </li>

            <li class="item" data-url="/14043986/album/2809992">
                <a href="http://www.lizhi.fm/231563/album/21702966085405979">
                    <span class="pic default-img fl">

                        <img src="http://fdfs.xmcdn.com/group16/M06/4F/8F/wKgDbFWzYkiA_b9yAAD8LKLVeS0916_web_meduim.jpg">

                    </span>

                    <i class="icon icon-arrow fr"></i>
                    <div class="info">
                        <p class="name">玛德琳</p>
                        <p class="cont">
                            本书是“玛德琳系列”的精选集，包括《玛德林》《玛德琳和坏小子》《玛德琳的圣诞节》三个故事...
                        </p>
                    </div>
                </a>
            </li>

            <li class="item" data-url="/14043986/album/2655285">
                <a href="http://www.lizhi.fm/231563/album/15919252017379739">
                    <span class="pic default-img fl">

                        <img src="http://fdfs.xmcdn.com/group7/M07/14/04/wKgDWlVsRCiy3cw8AAND_NG1VP4992_web_meduim.jpg">

                    </span>

                    <i class="icon icon-arrow fr"></i>
                    <div class="info">
                        <p class="name">伊索寓言</p>
                        <p class="cont">
                            欢迎联系微信社区管理员supertigerzou参与故事点播、育儿分享以及低价购买优质正版书籍。    伊索被誉为“希腊寓言之父”，“西方寓言的开山鼻祖”。伊索寓言是世界上最古老、影响最大的寓言...
                        </p>
                    </div>
                </a>
            </li>

            <li class="item" data-url="/14043986/album/469239">
                <a href="http://www.ximalaya.com/14043986/album/469239">
                    <span class="pic default-img fl">

                        <img src="http://fdfs.xmcdn.com/group8/M0B/10/38/wKgDYVVlr4mAXhDKAAMjK6lHemY361_web_meduim.jpg">

                    </span>

                    <i class="icon icon-arrow fr"></i>
                    <div class="info">
                        <p class="name">Litter Critter</p>
                        <p class="cont">
                            欢迎联系微信社区管理员supertigerzou参与故事点播、育儿分享以及低价购买优质正版书籍。    Join Little Critter as he enters the school s...
                        </p>
                    </div>
                </a>
            </li>
        </frameelement>
        <frameelement>

            <li class="item" data-url="/14043986/album/2678899">
                <a href="http://www.lizhi.fm/231563/album/20638413708552603">
                    <span class="pic default-img fl">

                        <img src="http://fdfs.xmcdn.com/group12/M04/1B/B7/wKgDXFV23IfTb_ycAAEbPrbpCZ4717_web_meduim.jpg">

                    </span>

                    <i class="icon icon-arrow fr"></i>
                    <div class="info">
                        <p class="name">《一百万只猫》系列</p>
                        <p class="cont">
                            一百万只猫系列绘本故事可锻炼孩子复述故事的能力，丰富语言，加强记忆力。在这几本书里都有一...
                        </p>
                    </div>
                </a>
            </li>

            <li class="item" data-url="/14043986/album/411487">
                <a href="http://www.lizhi.fm/231563/album/19894495039606043">
                    <span class="pic default-img fl">

                        <img src="http://fdfs.xmcdn.com/group13/M08/29/5E/wKgDXVWFU_DwW3FoAABdD349_BU664_web_meduim.jpg">

                    </span>

                    <i class="icon icon-arrow fr"></i>
                    <div class="info">
                        <p class="name">椋鸠十动物故事</p>
                        <p class="cont">
                            欢迎联系微信社区管理员supertigerzou点播故事和低价购买正版书籍。     椋鸠十，世界上最受欢迎的动物小说作家之一，相当于童话之于安徒生，诗歌之于普希金，曾荣获日本儿童文学界最高荣誉...
                        </p>
                    </div>
                </a>
            </li>

            <li class="item" data-url="/14043986/album/2649573">
                <a href="http://www.lizhi.fm/231563/album/20589838702470683">
                    <span class="pic default-img fl">

                        <img src="http://fdfs.xmcdn.com/group12/M04/29/0C/wKgDW1WFVHfAEj2tAAChVWu9N-8087_web_meduim.jpg">

                    </span>

                    <i class="icon icon-arrow fr"></i>
                    <div class="info">
                        <p class="name">大师精品合集•亲子睡前共读系列</p>
                        <p class="cont">
                            欢迎联系微信社区管理员supertigerzou参与故事点播、育儿分享以及低价购买优质正版书籍。     最受孩子们喜欢的睡前故事，最受妈妈们欢迎的亲子共读图书《大师情感教育亲子睡前共读系列》（...
                        </p>
                    </div>
                </a>
            </li>

            <li class="item" data-url="/14043986/album/376902">
                <a href="http://www.lizhi.fm/231563/album/15839566147448731">
                    <span class="pic default-img fl">

                        <img src="http://fdfs.xmcdn.com/group6/M0B/10/3D/wKgDg1UnYHfTP5vNAANND6wYLd8292_web_meduim.jpg">

                    </span>

                    <i class="icon icon-arrow fr"></i>
                    <div class="info">
                        <p class="name">黑猫警长</p>
                        <p class="cont">
                            你认识大名鼎鼎的黑猫警长吗？喏，你看，这就是他：头上戴一顶雪白的大盖帽，身上穿一套黑色的紧身防弹衣；两只蓝眼睛闪闪发光，一根根笔挺的胡子整齐地排列在嘴的两旁。嘿，真是神气十足哩!   《黑猫警长...
                        </p>
                    </div>
                </a>
            </li>

            <li class="item" data-url="/14043986/album/393447">
                <a href="http://www.lizhi.fm/231563/album/19797891221874843">
                    <span class="pic default-img fl">

                        <img src="http://fdfs.xmcdn.com/group6/M0A/5A/91/wKgDhFU43RSDvSXSAA5mhMgsRrk166_web_meduim.png">

                    </span>

                    <i class="icon icon-arrow fr"></i>
                    <div class="info">
                        <p class="name">恐龙来了</p>
                        <p class="cont">
                            《恐龙来了》是一套全面介绍展示恐龙生活全景的科普知识绘本，是目前市面上的恐龙图书中规模最大最全最炫最好玩的。孩子们都很喜欢恐龙，面对一个个长相奇特、体型各异的各种恐龙，他们在感到好奇的同时，又希...
                        </p>
                    </div>
                </a>
            </li>

            <li class="item" data-url="/14043986/album/390874">
                <a href="http://www.lizhi.fm/231563/album/20845506491334171">
                    <span class="pic default-img fl">

                        <img src="http://fdfs.xmcdn.com/group6/M0A/4F/A9/wKgDhFU2TLKRzJn5AAKJiglt0qU045_web_meduim.jpg">

                    </span>

                    <i class="icon icon-arrow fr"></i>
                    <div class="info">
                        <p class="name">宝葫芦的秘密</p>
                        <p class="cont">
                            一个是平凡得不能再平凡的小学生王葆，一个是神奇得令人不可思议的宝葫芦，一个偶然，一次奇遇，让他成了宝葫芦的主人。他们一起腾云驾雾，危境中共同逃生；一次又一次冒险，一场又一场误会，是大大幸运，还是...
                        </p>
                    </div>
                </a>
            </li>

            <li class="item" data-url="/14043986/album/2655269">
                <a href="http://www.lizhi.fm/231563/album/20542788606344091">
                    <span class="pic default-img fl">

                        <img src="http://fdfs.xmcdn.com/group9/M07/13/B6/wKgDYlVsQs2B4oRWAACifHCZw5o392_web_meduim.jpg">

                    </span>

                    <i class="icon icon-arrow fr"></i>
                    <div class="info">
                        <p class="name">大象巴巴系列</p>
                        <p class="cont">
                            欢迎联系微信社区管理员supertigerzou参与故事点播、育儿分享以及低价购买优质正版书籍。     大象巴巴系列风靡全球近百年，被称为是全球拥有最多读者的童书。更有数据显示大象巴巴系列已被...
                        </p>
                    </div>
                </a>
            </li>

            <li class="item" data-url="/14043986/album/2660552">
                <a href="http://www.ximalaya.com/14043986/album/2660552">
                    <span class="pic default-img fl">

                        <img src="http://fdfs.xmcdn.com/group9/M0B/15/D5/wKgDYlVu5meBlwT_AABdtK9vNeE690_web_meduim.jpg">

                    </span>

                    <i class="icon icon-arrow fr"></i>
                    <div class="info">
                        <p class="name">英文美文欣赏</p>
                        <p class="cont">
                            “练习”系列为中英对照读物，优美的语言、深厚的情感、地道的英文，让读者既能欣赏到原汁原味和凝练生动的英文，还能深层次地品读语言特色与艺术之美，是英语学习爱好者、文学爱好者的必备读物。
                        </p>
                    </div>
                </a>
            </li>

            <li class="item" data-url="/14043986/album/392048">
                <a href="http://www.lizhi.fm/231563/album/17033936422186907">
                    <span class="pic default-img fl">

                        <img src="http://fdfs.xmcdn.com/group6/M05/58/D9/wKgDg1U3ib3B3joGAALAmSY8dg8014_web_meduim.jpg">

                    </span>

                    <i class="icon icon-arrow fr"></i>
                    <div class="info">
                        <p class="name">小鹿斑比</p>
                        <p class="cont">
                            这部作品始终贯穿着成长和教育这两个主题。当我们认真读完作品，掩卷思考时，会发现书中的故事离我们每个人都很近，主人公好像就是自己、自己的父母和朋友。
                        </p>
                    </div>
                </a>
            </li>

            <li class="item" data-url="/14043986/album/372424">
                <a href="http://www.lizhi.fm/231563/album/19938374036260635">
                    <span class="pic default-img fl">

                        <img src="http://fdfs.xmcdn.com/group6/M05/EB/A8/wKgDg1UfUhTzYxY2AAC_mRiCnHQ105_web_meduim.jpg">

                    </span>

                    <i class="icon icon-arrow fr"></i>
                    <div class="info">
                        <p class="name">疯狂学校</p>
                        <p class="cont">
                            我们的笨班主任：这是一个奇怪的学校，满是奇怪的人和奇怪的事儿。最让人摸不着头脑的就是阿仔的班主任戴西小姐了，这个老师竟然什么都不懂，都要自己的学生教！真的是这样吗？这是什么样的老师呀？  我们...
                        </p>
                    </div>
                </a>
            </li>

            <li class="item" data-url="/14043986/album/359012">
                <a href="http://www.lizhi.fm/231563/album/17504210377804571">
                    <span class="pic default-img fl">

                        <img src="http://fdfs.xmcdn.com/group6/M09/97/9F/wKgDg1UER9LSZXvvAApxtFBkFjY840_web_meduim.jpg">

                    </span>

                    <i class="icon icon-arrow fr"></i>
                    <div class="info">
                        <p class="name">冰雪奇缘</p>
                        <p class="cont">
                            迪士尼冰雪奇缘是在国外上映的大电影，故事改编自经典安徒生童话《冰雪王后》，讲述了北方王国两位公主的奇特经历，情节跌宕起伏，故事结局温馨感人并且立意深刻。其美绘素材华丽且艺术气息浓厚，给人奇妙的视...
                        </p>
                    </div>
                </a>
            </li>

            <li class="item" data-url="/14043986/album/352108">
                <a href="http://www.lizhi.fm/231563/album/18966971618965915">
                    <span class="pic default-img fl">

                        <img src="http://fdfs.xmcdn.com/group6/M01/9D/FC/wKgDhFUHrM6ScykAAAI1PTl7ifY708_web_meduim.jpg">

                    </span>

                    <i class="icon icon-arrow fr"></i>
                    <div class="info">
                        <p class="name">小兔汤姆系列</p>
                        <p class="cont">
                            汤姆系列第一辑”，共六册，分别是《汤姆上幼儿园》《汤姆在海滩》《汤姆丢了》《汤姆的小妹妹》《汤姆挨惩》《汤姆住院》，该系列丛书通过对小兔汤姆平凡而有趣的生活故事的描述，给孩子们展现了一个可以触摸...
                        </p>
                    </div>
                </a>
            </li>

            <li class="item" data-url="/14043986/album/363844">
                <a href="http://www.lizhi.fm/231563/album/15863011568087067">
                    <span class="pic default-img fl">

                        <img src="http://fdfs.xmcdn.com/group6/M00/B5/A0/wKgDhFUOrfCwi45bAAEBzn8iQBs413_web_meduim.jpg">

                    </span>

                    <i class="icon icon-arrow fr"></i>
                    <div class="info">
                        <p class="name">西游记</p>
                        <p class="cont">
                            《西游记》在中国可谓家喻户晓，妇孺皆知。孙悟空大闹天宫、保护唐僧西天取经，师徒四人跋山涉水、斩妖除麾，历尽千难万险，行程十万八千里，终于取得真经、修成正果的故事，几百年来，为无数的世人所传颂，也...
                        </p>
                    </div>
                </a>
            </li>

            <li class="item" data-url="/14043986/album/365231">
                <a href="http://www.lizhi.fm/231563/album/19153391990523291">
                    <span class="pic default-img fl">

                        <img src="http://fdfs.xmcdn.com/group6/M01/C1/EF/wKgDg1URW9HhDBQCAAYap1hYOzk163_web_meduim.png">

                    </span>

                    <i class="icon icon-arrow fr"></i>
                    <div class="info">
                        <p class="name">鸡蛋哥哥</p>
                        <p class="cont">
                            本套装共十册。单本名分别为《鸡蛋哥哥》《你好 鸡蛋哥哥》《鸡蛋哥哥小组》《真棒 鸡蛋哥哥》《加油鸡蛋哥哥》《鸡蛋妹妹》《抱抱鸡蛋妹妹》《金蛋哥哥》《大变身！鸡蛋哥哥》和《飞吧！乌鸦蛋哥哥》。本套...
                        </p>
                    </div>
                </a>
            </li>

            <li class="item" data-url="/14043986/album/364140">
                <a href="http://www.lizhi.fm/231563/album/16273122963883547">
                    <span class="pic default-img fl">

                        <img src="http://fdfs.xmcdn.com/group6/M08/B7/BE/wKgDhFUPjk_QK-ewAACPt3c8dxU094_web_meduim.jpg">

                    </span>

                    <i class="icon icon-arrow fr"></i>
                    <div class="info">
                        <p class="name">安徒生童话</p>
                        <p class="cont">
                            《安徒生童话》让5岁的孩子倾听安徒生;让15岁的少年阅读安徒生;让25岁的青年人品味安徒生;让35岁的成年人理解安徒生;让45-99岁的人思索和回味安徒生。因为在人的童年、少年、青年至老年，安徒...
                        </p>
                    </div>
                </a>
            </li>

            <li class="item" data-url="/14043986/album/359482">
                <a href="http://www.lizhi.fm/231563/album/18758064875920539">
                    <span class="pic default-img fl">

                        <img src="http://fdfs.xmcdn.com/group6/M02/9A/6E/wKgDg1UFYc6ihLMrAAxNq8q5OZ8174_web_meduim.png">

                    </span>

                    <i class="icon icon-arrow fr"></i>
                    <div class="info">
                        <p class="name">小乌龟富兰克林</p>
                        <p class="cont">
                            这是一套能够让父母学会赏识孩子和亲子对话的图画书。故事中，父母巧妙的询问，充满智慧的鼓励，使犯错或失败的小乌龟富兰克林在行为养成和好习惯的培养方面快速地成长。  这是一套让孩子在阅读、感悟、体验...
                        </p>
                    </div>
                </a>
            </li>

            <li class="item" data-url="/14043986/album/358129">
                <a href="http://www.lizhi.fm/231563/album/21724559301692699">
                    <span class="pic default-img fl">

                        <img src="http://fdfs.xmcdn.com/group6/M06/8D/6D/wKgDhFUChuvAC6MGAA3qsNMzBMc119_web_meduim.png">

                    </span>

                    <i class="icon icon-arrow fr"></i>
                    <div class="info">
                        <p class="name">萨琪性别启蒙桥梁书</p>
                        <p class="cont">
                            ★ 法国著名性别教育图画书！  ★ 帮助孩子了解自己的性别及应有的行为准则  ★ 让孩子在各自正确的性别环境下成长，读这套书，终生受益！  ★ 孩子入学前必读系列，孩子有了敏感话题，就让萨琪和马...
                        </p>
                    </div>
                </a>
            </li>

            <li class="item" data-url="/14043986/album/356352">
                <a href="http://www.lizhi.fm/231563/album/18471649952348827">
                    <span class="pic default-img fl">

                        <img src="http://fdfs.xmcdn.com/group6/M0A/83/12/wKgDhFT-3UuyrPO_AAGIAYxv55A896_web_meduim.png">

                    </span>

                    <i class="icon icon-arrow fr"></i>
                    <div class="info">
                        <p class="name">老故事绘本</p>
                        <p class="cont">
                            老故事的魅力是永恒的。只要我们有耐心，并且怀着一种敬畏之心轻轻地擦去时间留给它们的那些飞灰与尘埃，经典老故事的神灯，将会愈加明亮。数千年来我们有幸拥有了一批伟大的老故事，这是我们共同的记忆和幸福...
                        </p>
                    </div>
                </a>
            </li>

            <li class="item" data-url="/14043986/album/355100">
                <a href="http://www.lizhi.fm/231563/album/18564786784726811">
                    <span class="pic default-img fl">

                        <img src="http://fdfs.xmcdn.com/group6/M05/7E/09/wKgDg1T76wTglW6oAA5B4J_gJ5Y779_web_meduim.jpg">

                    </span>

                    <i class="icon icon-arrow fr"></i>
                    <div class="info">
                        <p class="name">葫芦娃</p>
                        <p class="cont">
                            葫芦山里关着蝎子精和蛇精。一只穿山甲不小心打穿了山洞，两个妖精逃了出来，从此百姓遭难。穿山甲急忙去告诉一个老汉，只有种出七色葫芦，才能消灭这两个妖精。老汉种出了红、橙、黄、绿、青、蓝、紫七个大葫...
                        </p>
                    </div>
                </a>
            </li>
        </frameelement>
        <frameelement>

            <li class="item" data-url="/14043986/album/348087">
                <a href="http://www.lizhi.fm/231563/album/17427313282664219">
                    <span class="pic default-img fl">

                        <img src="http://fdfs.xmcdn.com/group6/M00/4D/B2/wKgDg1TsId3BlLphAASGU0jFKkc646_web_meduim.jpg">

                    </span>

                    <i class="icon icon-arrow fr"></i>
                    <div class="info">
                        <p class="name">The Adventure of Sinbad【辛巴达历险记】</p>
                        <p class="cont">
                            本故事系列讲述了辛巴达航海历险的经历。辛巴达花光了父亲留下的钱，不甘清贫的他决定出海创造财富。他在航行中一直处于危险的境地，遇到了很多奇特的人和可怕的动物。
                        </p>
                    </div>
                </a>
            </li>

            <li class="item" data-url="/14043986/album/348098">
                <a href="http://www.lizhi.fm/231563/album/17252801513750683">
                    <span class="pic default-img fl">

                        <img src="http://fdfs.xmcdn.com/group6/M00/4D/C0/wKgDg1TsJ0ejWH37AAlAUcmo4Z8348_web_meduim.png">

                    </span>

                    <i class="icon icon-arrow fr"></i>
                    <div class="info">
                        <p class="name">宫西达也恐龙系列</p>
                        <p class="cont">
                            这套绘本描述了恐龙世界关于强者与弱者，关于亲情和友情的一系列温馨动人的故事。在弱肉强食的恐龙世界，也充满了温情。
                        </p>
                    </div>
                </a>
            </li>

            <li class="item" data-url="/14043986/album/350015">
                <a href="http://www.lizhi.fm/231563/album/17129917131199387">
                    <span class="pic default-img fl">

                        <img src="http://fdfs.xmcdn.com/group6/M03/5B/F4/wKgDg1TxHnaB-fvJAAOLeTdwwzU781_web_meduim.jpg">

                    </span>

                    <i class="icon icon-arrow fr"></i>
                    <div class="info">
                        <p class="name">Oliver Jeffers智慧小孩系列</p>
                        <p class="cont">
                            作者奥利弗•杰弗斯通过独特、深刻、具有丰富的哲学和美学气质的讲述方式，阐述了我们必将面对一些重大人生主题，如友谊、承诺、理想、宽容和智慧……当然，我们也相信，每个孩子都是智慧的，他们必将发现更多...
                        </p>
                    </div>
                </a>
            </li>

            <li class="item" data-url="/14043986/album/352520">
                <a href="http://www.lizhi.fm/231563/album/15876890486191899">
                    <span class="pic default-img fl">

                        <img src="http://fdfs.xmcdn.com/group6/M00/76/54/wKgDg1T5VyfzCcKqAAVh30TZNk8720_web_meduim.png">

                    </span>

                    <i class="icon icon-arrow fr"></i>
                    <div class="info">
                        <p class="name">洋葱头历险记</p>
                        <p class="cont">
                            《洋葱头历险记》是罗大里最著名的代表作，自问世以来，已被翻译为多国语言，在世界各地的读者群中广为流传。此次的译文，系采用我国著名翻译家任溶溶先生的译本。任老的译文，文字风格晓白流畅，轻松诙谐。人...
                        </p>
                    </div>
                </a>
            </li>
        </frameelement>
    </ul>
    <p style="margin-bottom: 10px; white-space: normal;">
        <span style="font-family: 楷体; color: rgb(192, 0, 0);">
            分享是一种美德，请在退出本页面前将它分享给你在乎的人，一起来探索这个美丽的世界吧！
        </span>
    </p>
</div>


