@model JSSDKViewModel
@using Microsoft.AspNet.Http.Authentication
@{
    ViewData["Title"] = "♬【伴读】《恐龙来了》第六集 - 开角龙和它的伙伴们（白垩纪植食大型恐龙，体长5-8米）";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../lib/bootstrap/dist/css/bootstrap.css" />
    <link href="../lib/jplayer/dist/skin/blue.monday/css/jplayer.blue.monday_1.min.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <div id="jp_container_1" style="margin-left: 2px" class="jp-video jp-video-270p" role="application" aria-label="media player">
        <div class="jp-type-playlist">
            <img src="http://www.tigerartstudio.cn/mediaFiles/books1/dinasour_6.jpg" style="width: 98%; display: inline;margin-left:3px">

            <audio style="margin: 10px 5px 10px 3px; width: 98%" src="http://www.tigerartstudio.cn/mediaFiles/books1/dinasour_6.mp3" controls autoplay loop>
                <p>Your browser does not support the <code>audio</code> element </p>
            </audio>
            <div style="font-family: Tahoma; font-size: small; color:black;margin-bottom:10px">
                分享此故事到朋友圈，系统会自动引导您到本系列13集恐龙高清音频的下载页面，拷贝MP3文件到任何可播放的设备，就可以陪着孩子一起探索神奇的恐龙世界啦~
            </div>
            <div style="font-family: Tahoma; font-size: small; color:red;">
                2016年下半年《东方娃娃杂志》火热征订中，一天不到一块钱，订阅国内最受欢迎的幼儿刊物，赠送一套四本惊艳立体手工书。
            </div>
            <div style="height: 60px; margin-top: 10px; border-top-style: groove; border-top-color: lightskyblue; border-top-width: thin; padding-top: 5px;">
                <a style="float: left; margin-left: 12px" href="http://weidian.com/item_classes.html?userid=251230088&c=72093131&des=%E7%B2%BE%E5%93%81%E6%8E%A8%E8%8D%90" class="btn btn-primary btn-lg active" role="button">订阅杂志</a>
                <a style="float: right; margin-right: 12px" href="http://mp.weixin.qq.com/s?__biz=MzA5NTU0MTMzOQ==&mid=2652364156&idx=1&sn=72baa0dbe2c2267a60fd72a341b7aeac&scene=23&srcid=0614489XJHSS5jfLNNjwgIK7#rd" class="btn btn-primary btn-lg active" role="button">免费资源</a>
            </div>
        </div>
    </div>
</body>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
    /*
     * 注意：
     * 1. 所有的JS接口只能在公众号绑定的域名下调用，公众号开发者需要先登录微信公众平台进入“公众号设置”的“功能设置”里填写“JS接口安全域名”。
     * 2. 如果发现在 Android 不能分享自定义内容，请到官网下载最新的包覆盖安装，Android 自定义分享接口需升级至 6.0.2.58 版本及以上。
     * 3. 常见问题及完整 JS-SDK 文档地址：http://mp.weixin.qq.com/wiki/7/aaa137b55fb2e0456bf8dd9148dd613f.html
     *
     * 开发中遇到问题详见文档“附录5-常见错误及解决办法”解决，如仍未能解决可通过以下渠道反馈：
     * 邮箱地址：weixin-open@qq.com
     * 邮件主题：【微信JS-SDK反馈】具体问题
     * 邮件内容说明：用简明的语言描述问题所在，并交代清楚遇到该问题的场景，可附上截屏图片，微信团队会尽快处理你的反馈。
     */
    wx.config({
        debug: false,
        appId: 'wxf0aa207b2437d9bc',
        timestamp: @Model.Timestamp,
        nonceStr: '@Model.NouceString',
        signature: '@Model.Signature',
        jsApiList: [
          // 所有要调用的 API 都要加到这个列表中
          'checkJsApi',
           'onMenuShareTimeline',
           'onMenuShareAppMessage',
           'showMenuItems',
           'showOptionMenu'
        ]
    });
    wx.ready(function () {
        // 在这里调用 API
        wx.onMenuShareTimeline({
            title: '♬【伴读】《恐龙来了》第六集 - 开角龙和它的伙伴们（白垩纪植食大型恐龙，体长5-8米）',
            desc: '《恐龙来了》不仅拥有最权威的恐龙百科知识、最齐全的恐龙品种展示、最真实的恐龙生活全景、最震撼的恐龙生活图画，随书还超值附赠大型恐龙奇趣探险棋、恐龙地板触摸认知图、百变炫酷恐龙游戏卡牌20张、动手剪裁人物棋子36枚、数字骰子等。多重智力开发游戏，不仅让孩子获得身临其境的恐龙探寻感受，还能培养孩子认知和动手能力。孩子们最渴望的恐龙活动全景，家长们最期盼的恐龙百科知识，尽在《恐龙来了》！',
            link: 'http://www.tigerartstudio.cn/wechat/dinasour_6',
            imgUrl: 'http://www.tigerartstudio.cn/mediaFiles/books1/Dinasour_6.jpg',
            trigger: function (res) {
                // 不要尝试在trigger中使用ajax异步请求修改本次分享的内容，因为客户端分享操作是一个同步操作，这时候使用ajax的回包会还没有返回
                //alert('用户点击发送给朋友');
            },
            success: function (res) {
                window.location.href = 'http://mp.weixin.qq.com/s?__biz=MzA5NTU0MTMzOQ==&mid=504880270&idx=1&sn=bde3a1c137e0f15c6e3aea5aff94d63a&scene=23&srcid=053080GSc760yfivbKeUGscX#rd';
            },
            cancel: function (res) {
                //alert('已取消');
            },
            fail: function (res) {
                alert(JSON.stringify(res));
            }
        });
    });
</script>
</html>
