@model JSSDKViewModel
@using Microsoft.AspNet.Http.Authentication
@{
    Layout = "_Master";
}

<img src="https://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/Schedule/MotherGoose_2.jpg" style="height: 250px; max-width: 98%; display: block;margin: 0 auto;">

<div class="alert alert-danger" style="font-size: 12px; margin-top: 5px; margin-bottom: 5px; padding-bottom: 5px; padding-top: 5px" role="alert">
    您正在访问的课件已过期，课程音频文件将在10月14日发布到会员资源区，会员家庭可以下载反复收听学习。<br /><br />第二阶段的课程10月7日起在会员群启动，Helen姐姐和月亮姐姐继续带着孩子们玩转童谣，连续100周不间断。<br /><br />关于加入老虎工作室会员计划的更多详情请点击页面下方的『<span style="color:deeppink; font-weight:bold">加入会员</span>』按钮，或者直接咨询社区管理员。
</div>
<marquee behavior='scroll' direction='left' scrollamount=1 style="font-size: small; margin-bottom: 0px; margin-top: 5px">
    <span style="color:blue; font-weight:bold">【团购通知】</span>磁力片高端品牌MagSpace人气和性价比最高的三款产品火热团购中，适合1-99岁的小宝宝、大宝宝和老宝宝。团购价低到您想象不到，比天猫双十一大促的价格再来一个拦腰斩，会员价更是无与伦比。配套视频课程，不管您家的宝宝是1岁、5岁、10岁，都会有不同的玩儿法哟。具体的价格信息如下：46片嘉年华，原价958元，天猫价528元，老虎工作室团购价328元，会员价<span style="color:deeppink; font-weight:bold">311</span>元；64片宠物精灵，原价1241元，天猫价646元，老虎工作室团购价388元，会员价<span style="color:deeppink; font-weight:bold">368</span>元；97片潘多拉之恋，原价2273元，天猫价1188元，老虎工作室团购价699元，会员价<span style="color:deeppink; font-weight:bold">664</span>元。而且，天猫购买是不提供任何额外赠品的，以97片为例，老虎工作室独家赠送摩天轮支架以及厚达84页的数学游戏练习簿一套三册。点击页面左下方<span style="color:blue; font-weight:bold">MagSpace磁力片</span>了解详情。
</marquee>
            
