@model JSSDKViewModel
@using Microsoft.AspNet.Http.Authentication
@{
    ViewData["Title"] = "♪【父母课堂】孩子叛逆行为背后的需求（学会尊重孩子，亲子冲突不再是必然的结果）";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/story.css" />
    <link rel="stylesheet" href="../lib/bootstrap/dist/css/bootstrap.css" />
    <link href="../lib/jplayer/dist/skin/blue.monday/css/jplayer.blue.monday_1.min.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../lib/jquery/dist/jquery.min.js"></script>
    @*<script type="text/javascript">
            //<![CDATA[
            $(document).ready(function () {

                $(".free-btn").bind("click", function() {
                    $(".main-bg").css("-webkit-filter", "blur(10px)");
                    $(".shade").show();
                });

            });
            //]]>
        </script>*@
    @*<style type="text/css">
            .shade {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: url(../images/OxfordLevel0_small.png) 10px top no-repeat rgba(0,0,0,0.5);
                display: none;
            }
        </style>*@
</head>
<body>
    <div id="jp_container_1" style="margin-left: 2px" class="jp-video jp-video-270p" role="application" aria-label="media player">
        <div class="jp-type-playlist">
            <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/ParentClasses/RebelliousStage.jpg" style="width: 98%; display: block;margin: 0 auto;">

            <audio style="width: 98%; margin: 0px 5px 0px 3px" src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/ParentClasses/RebelliousStage.mp3" controls autoplay loop>
                <p>Your browser does not support the <code>audio</code> element </p>
            </audio>

            <div style="font-family: KaiTi; font-size: smaller; color:deeppink;">
                每个孩子都会经历“叛逆期”，而且还不止一次。“叛逆期”是心理学家们的一个说法，代指这个阶段孩子的自我意识快速发展，对独立、自主、自由有了迫切需求。其实，若父母能够读懂孩子叛逆行为背后的心理需要，学会尊重孩子，亲子冲突就不再是必然的结果了。
            </div>
            <br/>
            <div style="font-family: KaiTi; font-size: smaller; color:blue;">
                「Brown Bear Collection」 & 「The Little Princess's Big Bookshelf」火热团购中，点击左下角的<b>原版进口</b>了解详情。
            </div>
            <div style="height: 60px; margin-top: 10px; border-top-style: groove; border-top-color: lightskyblue; border-top-width: thin; padding-top: 5px;">
                <a style="float: left; margin-left: 12px" href="http://weidian.com/item_classes.html?userid=251230088&c=63590764&des=%E5%8E%9F%E7%89%88%E8%BF%9B%E5%8F%A3" class="btn btn-primary btn-lg active" role="button">原版进口</a>
                <a style="float: right; margin-right: 12px" href="http://mp.weixin.qq.com/mp/getmasssendmsg?__biz=MzA5NTU0MTMzOQ==#wechat_webview_type=1&wechat_redirect" class="btn btn-primary btn-lg active free-btn" role="button">精彩文章</a>
            </div>
        </div>
    </div>
    <div class="shade"></div>
</body>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
    /*
     * 注意：
     * 1. 所有的JS接口只能在公众号绑定的域名下调用，公众号开发者需要先登录微信公众平台进入“公众号设置”的“功能设置”里填写“JS接口安全域名”。
     * 2. 如果发现在 Android 不能分享自定义内容，请到官网下载最新的包覆盖安装，Android 自定义分享接口需升级至 6.0.2.58 版本及以上。
     * 3. 常见问题及完整 JS-SDK 文档地址：http://mp.weixin.qq.com/wiki/7/aaa137b55fb2e0456bf8dd9148dd613f.html
     *
     * 开发中遇到问题详见文档“附录5-常见错误及解决办法”解决，如仍未能解决可通过以下渠道反馈：
     * 邮箱地址：weixin-open@qq.com
     * 邮件主题：【微信JS-SDK反馈】具体问题
     * 邮件内容说明：用简明的语言描述问题所在，并交代清楚遇到该问题的场景，可附上截屏图片，微信团队会尽快处理你的反馈。
     */
    wx.config({
        debug: false,
        appId: 'wxf0aa207b2437d9bc',
        timestamp: @Model.Timestamp,
        nonceStr: '@Model.NouceString',
        signature: '@Model.Signature',
        jsApiList: [
          // 所有要调用的 API 都要加到这个列表中
          'checkJsApi',
           'onMenuShareTimeline',
           'onMenuShareAppMessage',
           'showMenuItems',
           'showOptionMenu'
        ]
    });
    wx.ready(function () {
        // 在这里调用 API
        wx.onMenuShareTimeline({
            title: '♪ 学龄前儿童亲子阅读指导建议（从小读好书，会影响孩子的一生）',
            desc: '经常有家长询问我们关于孩子阅读习惯的问题，爸爸妈妈从孩子自身出发，总会觉得好奇孩子的阅读习惯为什么会这样，为什么会那样？冰清姐姐根据来自各个方面的心理发展和教育专家的建议，归纳整理出了0-6岁儿童发展的特征和适读的书籍，希望对家长朋友们有所帮助。',
            link: 'http://www.tigerartstudio.cn/wechat/ReadingAdviceToPreSchoolKids',
            imgUrl: 'http://www.tigerartstudio.cn/mediaFiles/books1/littleGirl.png',
            trigger: function (res) {
                // 不要尝试在trigger中使用ajax异步请求修改本次分享的内容，因为客户端分享操作是一个同步操作，这时候使用ajax的回包会还没有返回
                //alert('用户点击发送给朋友');
            },
            success: function (res) {
                window.location.href = 'http://mp.weixin.qq.com/s?__biz=MzA5NTU0MTMzOQ==&mid=2652364246&idx=1&sn=9ea09ac561d53262530ded606b186124&scene=23&srcid=06221LMuZQdEsNoX58PV4Vcl#rd';
            },
            cancel: function (res) {
                //alert('已取消');
            },
            fail: function (res) {
                alert(JSON.stringify(res));
            }
        });
    });
</script>
</html>
